body{
  margin: 0;
  padding: 0;
}
/*Link provisoir*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

.blue h2 {
  color: #62D3A4;
  text-align: center;
}

button {
  display: inline-block;
  background-color: #62D3A4;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  /* font-size: 4px; */
  padding: 9px;
  width: 200px;
  position: relative;
  left: 463px;
  /* transition: all 0.5s; */
  /* cursor: pointer; */
  margin: 5px;
  /* -webkit-mask-composite: destination-out; */
}

.button1{
  left: 417px;
}
.button2 {
right: 12px;
}

.button3{
  position: absolute;
  left: 247px;
}

/* body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ecf0f1;
} */
.formulaire h2{
  text-align: center;
  color: #702E92;
}

.formulaire {
  border-radius: 4px;
  width: 444px;
  background-color: #DEECF7;
  padding: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  border-radius: 45px;
  transform: translateY(-98%);
  top: 90px;
  position: relative;
  height: 341px;
}

.formulaire label {
  margin-bottom: 10px;
}

.formulaire .name {
  background-color: #EEEEEE;
  border: solid #CCCCCC 1px;
  padding: 5px 10px 5px 10px;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 10px 5px 5px black;
  font-size: 20px;
  width: 374px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.formulaire .pwd {
  background-color: #EEEEEE;
  border: solid #CCCCCC 1px;
  border-right: none;
  padding: 5px 10px 5px 10px;
  border-radius: 4px 0px 0px 4px;
  font-size: 20px;
  float: left;
  width: 270px;
  margin-top: 5px;
}

.formulaire .pwd:focus,
.formulaire .name:focus,
.submit button:focus {
  outline: 0;
}

.btn_change button {
  float: left;
  padding: 5px 10px 5px 10px;
  background-color: #EEEEEE;
  border: solid #CCCCCC 1px;
  border-left: none;
  border-radius: 0px 4px 4px 0px;
  font-size: 20px;
  cursor: pointer;
  transition: .5s all;
  width: 40px;
  margin-top: 5px;
}

.btn_change button:focus {
  outline: 0;
}

.btn_change button:hover {
  color: #2cc36b;
  transition: .5s all;
}

.formulaire .btn_sub {
  background-color: #339dff;
  padding: 5px 10px 5px 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  transition: .5s all;
  color: #FFFFFF;
  margin-top: 15px;
  float: right;
}

.formulaire .btn_sub:hover {
  background-color: #3498db;
  transition: .5s all;
}
