* {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
}

footer {
	background-color: #702E92;
	height: 250px;
	padding: 2% 0;
	width: 100%;
}

footer a {
	color: white;
	display: inline-block;
	padding: 8% 12%;
	text-decoration: none;

}

footer a:hover {
	background-color: #62D3A4;
	border-radius: 15px;
	color: #67328D;
}

footer ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	margin: 0 20%;
	width: 60%;
}

footer ul li {
	text-align: center;
	width: calc(100%/3);
}

p {
	font-size: 20px;
}

.background_img {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	width: 20%;
}

.banner_picture,
.left_picture img,
.right_picture img {
	width: 100%;
}

.banner_picture img {
	border-radius: 30px;
	margin-left: 10%;
	margin-top: 5%;
	width: 80%;
}

.bold {
	font-weight: bold;
}

.bottom_left_img,
.left_img,
.bottom_right_img,
.right_img {
	margin-bottom: 20%;
	margin-top: 20%;
	padding-left: 0;
	z-index: 2;

}

.bottom_left_img,
.bottom_right_img {
	margin-top: 100%;
}

.dropdown {
	position: relative;
}

.dropdown_content {
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	flex-direction: column;
	list-style-type: none;
	position: absolute;
	right: 0;
	z-index: 10;
	width: 100%;
}

.dropdown:hover .dropdown_content{
	display: flex;
}

.dropdown:hover .page_dropdown_content{
	display: flex;
}

.genese {
	width: 100%;
}

.genese img {
	margin-top: 10%;  
	width: 60%;
}

.genese p {
	margin-left: 10%;
	margin-top: 5%;
	text-align: justify; 
	width: 80%;
}

.green_button {
	background-color: #62D3A4;
	border-radius: 2em;
	color: beige;
	text-align: center;
	margin: 1.5em auto;
	padding: 1em;
	width: 40%;
}

.green_button > a {
	text-decoration: none; 
}

.header_home {
	background-image: url('../img/header_background.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 618px;
}

.home_page,
.preparation_page {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.img_placeholder {
	background-color: gray;
	height: 15em;
	margin: 10% 20%;
	text-align: center;
	width: 60%;
}

.left_picture {
	float: left;
	margin-left: 10%;
	width: 35%;
}

.left_bubbles {
	width: 20%;
	margin: 2% 18% 2% 2%;
}

.link_home {
	margin: 2%;
}

.long_left_img {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: -2;
}

.long_right_img {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
}

.logo_home {
	height: 90px;
}

.logo_header {
	display: inline-block;
	max-height: 190px;
	width: 40%;
}

.logo_header img {
	max-height: 190px;
	padding: 3% 0;
	width: 100%;
}

.mention {
	margin-top: 5%;
	text-align: center;
}

.nav_home {
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style-type: none;
	margin-top: 2%;
	width: 70%;
}

.navbar a,
.page_navbar a {
	color: #DEECF7;
	display: inline-block;
	font-size: 20px;
	padding: 8% 12%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 100%;
}

.navbar a:hover,
.page_navbar a:hover {
	background-color: #62D3A4;
	color: #67328D;
}

.nav_external_link {
	font-size: 18px;
	padding: 8% 10%;
}

.navitem {
	width: 20%;
}

.onisep_banner {
	margin-bottom: 2em;
	width: 92%;
}

.page_dropdown_content {
	background-color: #67328D;
	display: none;
	flex-direction: column;
	list-style-type: none;
	position: absolute;
	right: 0;
	z-index: 10;
	width: 100%;
}

.page_header {
	display: flex;
	flex-direction: row;
}

.page_navbar {
	background-color: #67328D;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.partner {
	margin-bottom: 10%;
}

.partner img {
	margin-top: 10%;
	padding-left: 10%;
	width: 200px;
}

.pictures {
	margin-top: 100px; 
	width: 100%;
}

.pictures img {
	border-radius: 30px;
}

.preparation_content {
	margin: 4% 0;
	padding: 2%;
}

.right_bubbles {
	width: 20%;
	margin: 2% 2% 2% 18%
}

.right_picture {
	float: right;
	margin-right: 10%;
	width: 35%;
}

.section_title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	width: 100%;
}

.section_title img {
	height: 50px;
}

.section_title h1 {
	color: #06D6A0;
	margin-left: 2%;
	text-align: center;
}

.text_container {
	padding-top: 5%;
}

/* page contact */
.logo_before {
  width: 100%;
  background-color: antiquewhite;
  padding-top: 100px;

}

.logo_before img {
  width: 50px;
  margin-left: 48%;
}

.text p{
  background-color: antiquewhite;
  text-align: center;
  font-size: 40px;
}

.phone{
  background-color: beige;
}

.phone img{
  background-color: aquamarine;
  width: 70px;
  margin-left: 48%;
  margin-top: 12%;
}

.phone p{
  background-color: aquamarine;
  font-size: 40px;
  width: 46%;
  float: right;
  margin-top: 50px;
  margin-top: 13%;
}

.mail{
  background-color: beige;
  padding-bottom: 100px;
}

.mail img{
  background-color: aquamarine;
  width: 70px;
  margin-left: 48%;
  margin-top: 12%;
}

.mail p{
  background-color: aquamarine;
  font-size: 40px;
  width: 46%;
  float: right;
  margin-top: 50px;
  margin-top: 13%;
}

@media screen and (max-width: 600px) {
	footer ul li{
		display: flex;
		padding-left: 30%; 
		padding-top: 5%;     
	}
	
	.mention{
		margin-top: 70px;
	}
}    
