*{
    margin: 0;
    padding:0
    
}

body {
    font-family:  Helvetica Neue ,Arial, Helvetica, sans-serif ;
    text-align: left;
}

.pageAller {
    display: flex;
    flex-direction: row;
    justify-content: ;
}

.backgroudImg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.imgLeftTop,
.imgLeftBottom {
    transform: rotate(90deg);
    margin-left: -8em; 
    padding-left: 0;
    margin-bottom: 26em;
    margin-top: 15em;
    
}
.imgLeftLong {
    transform: rotate(90deg);
    position: absolute;
    width: 70%;
    left: -22em;
    top: 45em;
    z-index: -2;
}

.imgLeftLong {
    transform: rotate(90deg);
    position: absolute;
    width: 70%;
    left: -22em;
    top: 45em;
    z-index: -2;
}


.imgRightTop,
.imgRightBottom {
    transform: rotate(-90deg);
    margin-right: -8em;
    padding-left: 0;
    margin-bottom: 26em;
    margin-top: 8em;
    border: 2px red solid;
    
}
.titreAndImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titreAndImg{
    width: 2em;
    height: 2em;
}
.titreAndImg > h2 {
    text-align: center;
    font-size: 2em;
    color: #62D3A4;

}

