.pictures img{
border-radius: 30px;
}

p{
    font-size: 20px;
}

.pictures{
    margin-top: 100px; 
    width: 100%;
}

.pictureLeft{
    width: 35%;
    float: left;
    margin-left: 10%;
}

.pictureLeft img{
    width: 100%;
}

.pictureRight{
    width: 35%;
    float: right;
    margin-right: 10%;
}

.pictureRight img{
    width: 100%; 
    
}

.bannerPicture{
    width: 100%;
    
}

.bannerPicture img{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 30px;
}

section{
    margin-left: 10%;
    text-align: center;
    width: 80%;
}

.titleSection{
    width: 100%; 
    padding-top: 100px;
}

.titleSection img{
    width: 50px;

}

.titleSection h1{
    color: #06D6A0;
    text-align: center;
}

.containerText{
    padding-top: 5%;
}

.genese{
width: 100%;
}

.genese img{
    margin-top: 10%;  
    width: 60%;
}

.genese p{
    margin-left: 10%;
    margin-top: 5%;
    text-align: justify; 
    width: 80%;
}

.partner img{
    margin-top: 10%;
    width: 200px;
    padding-left: 10%;
}


