.pictures img{
border-radius: 30px;
}

p{
    font-size: 20px;
}

.pictures{
    margin-top: 100px; 
    width: 100%;
}

.pictureLeft{
    width: 35%;
    float: left;
    margin-left: 10%;
}

.pictureLeft img{
    width: 100%;
}

.pictureRight{
    width: 35%;
    float: right;
    margin-right: 10%;
}

.pictureRight img{
    width: 100%; 
    
}

.bannerPicture{
    width: 100%;
    
}

.bannerPicture img{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 30px;
}

section{
    margin-left: 10%;
    text-align: center;
    width: 80%;
}

.titleSection{
    width: 100%; 
    padding-top: 100px;
}

.titleSection img{
    width: 50px;

}

.titleSection h1{
    color: #06D6A0;
    text-align: center;
}

.containerText{
    padding-top: 5%;
}

.genese{
width: 100%;
}

.genese img{
    margin-top: 10%;  
    width: 60%;
}

.genese p{
    margin-left: 10%;
    margin-top: 5%;
    text-align: justify; 
    width: 80%;
}

.partner img{
    margin-top: 10%;
    width: 100px;
    padding-left: 10%;
}





/* les décroration de page commence */

.pageAceuille{
    display: flex;
    flex-direction: row;
}
.backgroudImg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.imgLeftTop,
.imgLeftBottom,
.imgLeftBottom1 {
    transform: rotate(90deg);
    margin-left: -8em; 
    padding-left: 0;
    margin-bottom: 36em;
    margin-top: 25em;
    
}
.imgLeftBottom1 {
    margin-top: 400%;
}
.imgLeftLong {
    transform: rotate(90deg);
    position: absolute;
    width: 150%;
    left: -59%;
    top: 400%;
    z-index: -2;
    opacity: .3;
}

.imgRightLong {
    transform: rotate(-90deg);
    position: absolute;
    width: 150%;
    right: -59%;
    top: 2;
    z-index: -2;
    opacity: .3;
}


.imgRightTop,
.imgRightBottom,
.imgRightBottom1 {
    transform: rotate(-90deg);
    margin-right: -8em;
    padding-left: 0;
    margin-bottom: 36em;
    margin-top: 8em;  
    z-index: 2;  
}
.imgCentreBottom {
    transform: rotate(180deg);
    margin-right: 5em;
    z-index: -1;
    margin-top: 0;
}